#color{
	width: 15%;
	height: 7%;
	font-size: 100%;
	position:relative;
	left:0.5%;
	display:block;
	text-align:center;
}
#confirm{
	width: 15%;
	height: 7%;
	position:relative;
	margin-top:1%;
	left:0.5%;
	display:block;
	font-size:25px;
}
body>div{
	padding-left:1%;
	position:absolute;
	box-shadow: 15px 10px 15px 0px #C0C0C0
}
select{
	position:relative;
	left:0.5%;
	font-size:20px;
	width:5%;
	height:3%;
} 
label{
	margin-top:10px;
	margin-bottom:10px;
}